
h1, p, .result, form {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.entry {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cover {
    flex-shrink: 2;
}

.content {
    width: 512px;
}

.cover, .content {
    padding: 1em;
}

.entry_link {
    color: green;
}

img {
    width: 128px;
    height: 180px;
}


.pagination {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}