<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query + ' - Gakusci Academic research'}"></title>
    <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<body>
<div>
    <h1>Gakusci</h1>

    <form action="/search">
        <input id="query" type="text" name="q" th:value="${query}"/>
        <input id="search" type="submit"/><br>
        <input id="type_all" type="radio" name="stype" value="research" th:checked="${research}"/>
        Research papers/articles
        <input id="type_books" type="radio" name="stype" value="books" th:checked="${books}"/>
        Books
    </form>

    <br>

    <div class="container" th:if="${emptyEntries}">
        <p>No document found for <strong th:text="${query}"></strong></p>
    </div>

    <p class="result" th:if="${not emptyEntries}" th:text="${numFound + ' results. Only the first 2000 entries at most are reachable.'}"></p>

    <div class="container" th:each="entry : ${entries}">
        <p class="entry_label" th:text="${entry.label()}"></p>
        <p><a th:href="${entry.link()}" th:text="${entry.link()}"></a></p>
        <hr />
    </div>

    <br>
    <!--/*
        Numbered Page interval
        currentPage < 6 -> [1, 10]
        currentPage < maxPage -> [currentPage - 4, currentPage + 5] (numFound is the totalResults)
        else -> [maxPage - numPerPage + 1, maxPage]
      */-->
    <div class="pagination" th:if="${not emptyEntries}"
         th:with="MEDIAN_PAGE=5,
         MIN_INTERVAL_P=4,
         MAX_INTERVAL_P=5,
         MIN_OFFSET_LAST_P=9,
         CURRENT_PAGE=${start / numPerPage + 1},
         MAX_PAGE=${numFound / numPerPage  + ((numFound % numPerPage) > 0 ? 1 : 0)},
         MIN_NUM_PAGE=${CURRENT_PAGE <= MEDIAN_PAGE ? 1 : (CURRENT_PAGE + MAX_INTERVAL_P < MAX_PAGE ? CURRENT_PAGE - MIN_INTERVAL_P : MAX_PAGE - MIN_OFFSET_LAST_P) },
         MAX_NUM_PAGE=${CURRENT_PAGE <= MEDIAN_PAGE ? (MAX_PAGE < 10 ? MAX_PAGE : 10) : (CURRENT_PAGE + MAX_INTERVAL_P < MAX_PAGE ? CURRENT_PAGE + MAX_INTERVAL_P : MAX_PAGE) }">
        <ul>
            <!--/* First */-->
            <li th:if="${pstart} >= 0">
                <a th:href="${'/search?q=' + query + '&stype=' + stype + '&start=0'}"> |&lt;&lt; </a>
            </li>
            <!--/* Previous page */-->
            <li th:if="${pstart} >= 0 and ${pstart} < ${numFound}">
                <a th:href="${'/search?q=' + query + '&stype=' + stype + '&start=' + pstart}"> |&lt; </a>
            </li>
            <!--/* Numbered page links */-->
            <li th:each="numPage : ${#numbers.sequence(MIN_NUM_PAGE, MAX_NUM_PAGE, 1)}">
                <a th:href="${'/search?q=' + query + '&stype=' + stype + '&start=' + (numPerPage * numPage - numPerPage)}"
                   th:text="${numPage}"></a>
            </li>
            <!--/* Next page */-->
            <li th:if="${nstart} < ${numFound}">
                <a th:href="${'/search?q=' + query + '&stype=' + stype + '&start=' + nstart}"> &gt;| </a>
            </li>
            <!--/* Last */-->
            <li th:if="${nstart} < ${numFound}">
                <a th:href="${'/search?q=' + query + '&stype=' + stype + '&start=' + lastStart}"> &gt;&gt;| </a>
            </li>
        </ul>

    </div>

    <script src="/js/search.js"></script>
</div>
</body>
</html>
