<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GakuSci search results - POC</title>
</head>
<body>
<div>
    <h1>Gakusci POC results</h1>

    <form action="/search">
        <input id="query" type="text" name="q" th:value="${query}"/>
        <input id="search" type="submit"/><br>
        <input id="type_all" type="radio" name="searchtype" value="research" th:checked="${research}"/>
        Research papers/articles
        <input id="type_books" type="radio" name="searchtype" value="books" th:checked="${books}"/>
        Books
    </form>

    <p th:text="${numFound + ' results'}"></p>

    <div th:each="entry : ${entries}">
        <p class="entry_label" th:text="${entry.label}"></p>
        <a th:href="${entry.url}" th:text="${entry.url}"></a>
    </div>

    <script src="/js/search.js"></script>
</div>
</body>
</html>
